body, html {
	background-color: black;
	color: silver;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: monospace;
	font-size: 14px;
	
}

#full-body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	border: 2px solid silver;
	background-color: black;
	box-sizing: border-box;
	overflow: hidden;
	visibility: hidden;
}

#data-pane {
    background-color: transparent;
    color: silver;
    position: absolute;
    top: 35px; 
    left: 0;
    width: calc(100% - var(--pane-width));
    height: auto; 
    padding: 10px;
    pointer-events: none; 
}

#draggable-pane {
	position: fixed;
	top: 0;
	right: 0;
	--pane-width: 450px;
	width: var(--pane-width);
	height: 100vh;
	border-right: 2px solid silver;
	border-left: 2px solid silver;
	border-top: 2px solid silver;
	background-color: black;
	z-index: 10;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 26px auto 1fr 26px;
}

#resize-handle {
	position: absolute;
	top: 0;
	left: -10px;
	width: 20px;
	height: 100%;
	cursor: ew-resize;
	z-index: 11;
}

#line-numbers, #codeInput {
	overflow-y: auto;
	overflow-x: hidden;
	line-height: 14px;
	height: 100%;
	
}

#line-numbers {
	text-align: right;
	padding-right: 10px;
	padding-top: 3px;
	font-size: 14px;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

#line-numbers::-webkit-scrollbar {
	display: none;
}

#codeInput {
	background-color: black;
	color: white;
	resize: none;
	padding-left: 10px;
	white-space: nowrap;
	font-size: 14px;
	scrollbar-width: none;
	-ms-overflow-style: none;
	min-height: 42px;
	padding-bottom: 42px;
}

#codeInput::-webkit-scrollbar {
	display: none;
}

#slider-container, #layer-slider-container {
	width: 26px;
	height: 100%;
	background-color: #333;
	position: relative;
	overflow: hidden;
	
}

#slider, #layer-slider {
	position: absolute;
	left: 3px;
	width: 20px;
	height: 30px;
	background-color: silver;
	border-radius: 4px;
	cursor: ns-resize;
	 background-color: white;
}

#layer-slider-container {
	border-left: 1px solid silver;
}

#line-numbers, #codeInput {
	padding-top: 15px;
	background-image: 
		linear-gradient(
			to bottom,
			transparent 0px, 
			transparent 14px,
			darkgreen 14px, 
			darkgreen 28px,
			transparent 28px 
		),
		repeating-linear-gradient(
			to bottom,
			#222 0px,
			#222 14px,
			#333 14px,
			#333 28px
		);
	background-size: 100% 100%, 100% 28px;
	background-blend-mode: normal;
}

.layer-button {
	width: 25px;
	height: 25px;
	background-color: silver;
	border: none;
	color: silver;
	font-size: 25px;
	display: flex;
	background-color: transparent;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 0;
}

.z-display {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 4px 8px;
    margin: 2px 0;
    display: inline-block;
}

#build-plate-size {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
    top: -2px;
    position: relative;
}

#build-plate-size input[type="number"] {
    width: 30px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: silver;
    font-size: 14px;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid silver;
    -moz-appearance: textfield;
    top: -2px;
    position: relative;
}

#build-plate-size input[type="number"]::-webkit-outer-spin-button,
#build-plate-size input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#build-plate-size label {
    color: silver;
    font-size: 14px;
}

#applyBuildPlateSize {
    width: auto;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: silver;
    font-size: 14px;
    padding: 0 8px;
    border-radius: 5px;
    border: 1px solid silver;
    cursor: pointer;
}


#current-positioning-mode {
	width: auto;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: silver;
	font-size: 14px;
	padding: 0 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: 1px solid silver;
	white-space: nowrap;
	text-align: center;
}

#ui-buttons {
	position: absolute;
	top: 5px;
	right: calc(var(--pane-width) + 10px);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 12;
	gap: 5px;
	height: auto; 
	padding: 5px;
	pointer-events: none;
}

#z-container, #ui-buttons > button, #ui-buttons > div, #render-limit-container {
	pointer-events: auto;
}

#z-container {
	display: flex;
	align-items: center;
	gap: 10px;
}


#current-z-height {
	width: 75px;;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: silver;
	font-size: 14px;
	padding: 0 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: 1px solid silver;
	white-space: nowrap;
	text-align: center;
}

#searchInput {
	width: 150px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: silver;
	font-size: 14px;
	padding: 0 8px;
	border-radius: 5px;
	border: 1px solid silver;
}

#render-limit-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#render-limit {
    width: 20px;
    transform: rotate(180deg);
    height: 200px;
}

#render-limit-display {
    margin-top: 5px;
   // text-align: right;
    background-color: rgba(0, 0, 0, 0.5);
    color: silver;
    border: 1px solid silver;
    border-radius: 5px;
    font-size: 14px;
    padding: 2px 5px;
    width: auto;
    -moz-appearance: textfield;
	width: 65px; 
	margin-top: 5px;	
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#update-gcode-button {
    font-size: 30px;
	padding: 32px;
}

#bottom-overlay {
    position: fixed;
    bottom: 0;
    left: 0; 
    background-color: rgba(0, 0, 0, 0);
    color: white; 
    padding: 10px;
    z-index: 1000;
    font-size: 18px;
    width: auto;    
}


#measurement-display {
    position: fixed;
    bottom: 0;
    left: 30%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 10px;
    z-index: 1000;
    font-size: 18px;
    width: auto;     
}

#info-modal {
    display: none;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    max-width: 800px;
    height: calc(100vh - 100px); 
    background-color: rgba(0, 0, 0, 0.9); 
    border: 2px solid #C0C0C0;
    border-radius: 0; 
    box-shadow: 0 0 20px rgba(192, 192, 192, 0.3);
    overflow-y: auto;  
    z-index: 9999;
    color: #C0C0C0;  
    font-family: monospace;
    padding: 20px;
}

#modal-close {
    position: absolute; 
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #C0C0C0;  
    z-index: 10000;
    transition: color 0.3s, transform 0.3s;
}

#modal-close:hover {
    color: #808080;  
    transform: scale(1.1);
}



.feature {
    font-weight: bold;
    margin-top: 10px;
    color: #C0C0C0;  
}

.description {
    margin-left: 20px;
    margin-bottom: 10px;
    color: #A0A0A0;  
}

